.skip {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #FFCB05;
    color: #575294;
    padding: 10px;
    z-index: 100;
}

.skip:focus {
    top: 10px;
}

body {
    background-color: #575294;
    color: white;
}

h1 {
    color: #FFCB05;
    font-family: Times, sans-serif;
    font-size: 200%;
    text-align: center;
}

h2 {
    color: #FFCB05;
    font-family: Times, sans-serif;
    font-size: 150%;
}

h3 {
    color: #FFCB05;
    font-family: Times, sans-serif;
    font-size: 125%;
}

p {
    font-size: 100%;
    line-height: 1.5;
}

img {
    border:5px solid #FFCB05;
    padding:10px;
    margin:20px;
    border-top-right-radius: 30px;
}

li{
    display:inline-block;
    margin-left:50px;
}